#title, .subtitle, .post_title{
    color: rgb(116, 21, 5);
    
    
}

.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0px;
    margin-bottom: 15px;
}

body{
    background: rgb(232, 226, 226);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900px;
    margin: auto;
}

#title{
font-size: 35px;
text-transform: uppercase;
text-align: end;
margin-left: 10px;
}

a{
    text-decoration: underline;
    color: black;
}
.post{
    background: #fff;
    padding: 15px;
    border: 3px solid rgb(134, 121, 121);
    margin-bottom: 15px;
    border-radius: 5px;
}

.post_content{
margin: 0;
margin-bottom: 15px;
text-transform: capitalize;
text-align: justify;

}

.post_image{
    margin-bottom: 15px;
    border-radius: 5px;
}

.post_image_perfil{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    margin-top: 20px;
    
}

.contatos{
    list-style-type: none;
    padding-left: 15px;
}

.contatos li a{
    color: darkred;
}

.flex-container{
    display: flex;
    align-items: flex-end;
}